@using Microsoft.AspNetCore.Identity;
@using IdentityServerWithAspNetIdentity.Entities;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            @*<li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">注销</button>
        </li>*@
            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-action="Login" asp-controller="Account">登录</a></li>
    </ul>
}